---
import {   LayoutGeneral, GoogleAuth } from "@globals"
import { ModuelesActives } from "@util/generalConfig"
if (!ModuelesActives.User) {
  return Astro.redirect('/crear');
}
---

    <LayoutGeneral>
    <div>
      <GoogleAuth client:idle />
      </div>
    </LayoutGeneral>