<div class="w-full flex items-center justify-center">
    <div class="lg:w[94%] md:w-[94%] sm:w-[94%] w-[94%] text-center flex items-center justify-center flex-row gap-4 flex-wrap">
        <slot/>
    </div>
</div>
