<div class="w-full flex flex-col items-center justify-center">
    <div class="lg:w[70%] md:w-[70%] sm:w-[80%] w-[94%] text-center p-4 flex items-center justify-center flex-col flex-wrap">
        <slot/>
    </div>
</div>
