---
import { generalConfig } from "@util/generalConfig"
import { Sesion, CardRedesSociales } from "@globals"
---

{
  generalConfig.Home.socialRedes.socialRedesActive ? (
    <>
      <Sesion
        color={generalConfig.Home.socialRedes.colorBgSesion}
        image={generalConfig.Home.socialRedes.urlImgBgSesion}
        heigh={generalConfig.Home.socialRedes.heighMinSesion}
      >
        <div class=" w-full max-w-md mx-auto relative overflow-hidden">
          <CardRedesSociales client:idle/>
        </div>
      </Sesion>
    </>
  ) : null
}
