---
// Importaciones
import { generalConfig } from "@util/generalConfig"

const styleTitleBienvenida1 = "text-4xl font-extrabold tracking-tight leading-none text-red-700"
const styleTitleBienvenida2 = "text-4xl font-extrabold tracking-tight leading-none text-orange-700"
const styleTitleBienvenida3 = "text-4xl font-extrabold tracking-tight leading-none text-amber-700"
const styleTitleBienvenida4 = "text-4xl font-extrabold tracking-tight leading-none text-yellow-700"
const styleTitleBienvenida5 = "text-4xl font-extrabold tracking-tight leading-none text-lime-700"
const styleTitleBienvenida6 = "text-4xl font-extrabold tracking-tight leading-none text-green-800"
const styleTitleBienvenida7 = "text-4xl font-extrabold tracking-tight leading-none text-emerald-900"
const styleTitleBienvenida8 = "text-4xl font-extrabold tracking-tight leading-none text-teal-700"
const styleTitleBienvenida9 = "text-4xl font-extrabold tracking-tight leading-none text-cyan-800"
const styleTitleBienvenida10 = "text-4xl font-extrabold tracking-tight leading-none text-sky-900"
const styleTitleBienvenida11 = "text-4xl font-extrabold tracking-tight leading-none text-blue-900"
const styleTitleBienvenida12 = "text-4xl font-extrabold tracking-tight leading-none text-indigo-700"
const styleTitleBienvenida13 = "text-4xl font-extrabold tracking-tight leading-none text-violet-800"
const styleTitleBienvenida14 = "text-4xl font-extrabold tracking-tight leading-none text-purple-800"
const styleTitleBienvenida15 = "text-4xl font-extrabold tracking-tight leading-none text-fuchsia-900"
const styleTitleBienvenida16 = "text-4xl font-extrabold tracking-tight leading-none text-pink-800"
const styleTitleBienvenida17 = "text-4xl font-extrabold tracking-tight leading-none text-rose-800"
const styleTitleBienvenida18 = "text-4xl font-extrabold tracking-tight leading-none text-slate-700"
const styleTitleBienvenida19 = "text-4xl font-extrabold tracking-tight leading-none text-zinc-700"
const styleTitleBienvenida20 = "text-4xl font-extrabold tracking-tight leading-none text-gray-700"
const styleTitleBienvenida21 = "text-4xl font-extrabold tracking-tight leading-none text-neutral-900"
const styleTitleBienvenida22 = "text-4xl font-extrabold tracking-tight leading-none text-stone-700"
const styleTitleBienvenida = generalConfig.principalColorTitles === "red" ? styleTitleBienvenida1 : generalConfig.principalColorTitles === "orange" ? styleTitleBienvenida2 : generalConfig.principalColorTitles === "amber" ? styleTitleBienvenida3 : generalConfig.principalColorTitles === "yellow" ? styleTitleBienvenida4 : generalConfig.principalColorTitles === "lime" ? styleTitleBienvenida5 : generalConfig.principalColorTitles === "green" ? styleTitleBienvenida6 : generalConfig.principalColorTitles === "emerald" ? styleTitleBienvenida7 : generalConfig.principalColorTitles === "teal" ? styleTitleBienvenida8 : generalConfig.principalColorTitles === "cyan" ? styleTitleBienvenida9 : generalConfig.principalColorTitles === "sky" ? styleTitleBienvenida10 : generalConfig.principalColorTitles === "blue" ? styleTitleBienvenida11 : generalConfig.principalColorTitles === "indigo" ? styleTitleBienvenida12 : generalConfig.principalColorTitles === "violet" ? styleTitleBienvenida13 : generalConfig.principalColorTitles === "purple" ? styleTitleBienvenida14 : generalConfig.principalColorTitles === "fuchsia" ? styleTitleBienvenida15 : generalConfig.principalColorTitles === "pink" ? styleTitleBienvenida16 : generalConfig.principalColorTitles === "rose" ? styleTitleBienvenida17 : generalConfig.principalColorTitles === "slate" ? styleTitleBienvenida18 : generalConfig.principalColorTitles === "zinc" ? styleTitleBienvenida19 : generalConfig.principalColorTitles === "gray" ? styleTitleBienvenida20 : generalConfig.principalColorTitles === "neutral" ? styleTitleBienvenida21 : generalConfig.principalColorTitles === "stone" ? styleTitleBienvenida22 : styleTitleBienvenida21

interface Props {
  title: string
}

const { title } = Astro.props
---

<h1 class:list={styleTitleBienvenida}>
    { title }
</h1>