---
// Importaciones
import { generalConfig } from "@util/generalConfig"

const styleTitle1 = "text-4xl font-extrabold tracking-tight leading-none text-red-700"
const styleTitle2 = "text-4xl font-extrabold tracking-tight leading-none text-orange-700"
const styleTitle3 = "text-4xl font-extrabold tracking-tight leading-none text-amber-700"
const styleTitle4 = "text-4xl font-extrabold tracking-tight leading-none text-yellow-700"
const styleTitle5 = "text-4xl font-extrabold tracking-tight leading-none text-lime-700"
const styleTitle6 = "text-4xl font-extrabold tracking-tight leading-none text-green-800"
const styleTitle7 = "text-4xl font-extrabold tracking-tight leading-none text-emerald-900"
const styleTitle8 = "text-4xl font-extrabold tracking-tight leading-none text-teal-700"
const styleTitle9 = "text-4xl font-extrabold tracking-tight leading-none text-cyan-800"
const styleTitle10 = "text-4xl font-extrabold tracking-tight leading-none text-sky-900"
const styleTitle11 = "text-4xl font-extrabold tracking-tight leading-none text-blue-900"
const styleTitle12 = "text-4xl font-extrabold tracking-tight leading-none text-indigo-700"
const styleTitle13 = "text-4xl font-extrabold tracking-tight leading-none text-violet-800"
const styleTitle14 = "text-4xl font-extrabold tracking-tight leading-none text-purple-800"
const styleTitle15 = "text-4xl font-extrabold tracking-tight leading-none text-fuchsia-900"
const styleTitle16 = "text-4xl font-extrabold tracking-tight leading-none text-pink-800"
const styleTitle17 = "text-4xl font-extrabold tracking-tight leading-none text-rose-800"
const styleTitle18 = "text-4xl font-extrabold tracking-tight leading-none text-slate-700"
const styleTitle19 = "text-4xl font-extrabold tracking-tight leading-none text-zinc-700"
const styleTitle20 = "text-4xl font-extrabold tracking-tight leading-none text-gray-700"
const styleTitle21 = "text-4xl font-extrabold tracking-tight leading-none text-neutral-900"
const styleTitle22 = "text-4xl font-extrabold tracking-tight leading-none text-stone-700"
const styleTitle = generalConfig.principalColorTitles === "red" ? styleTitle1 : generalConfig.principalColorTitles === "orange" ? styleTitle2 : generalConfig.principalColorTitles === "amber" ? styleTitle3 : generalConfig.principalColorTitles === "yellow" ? styleTitle4 : generalConfig.principalColorTitles === "lime" ? styleTitle5 : generalConfig.principalColorTitles === "green" ? styleTitle6 : generalConfig.principalColorTitles === "emerald" ? styleTitle7 : generalConfig.principalColorTitles === "teal" ? styleTitle8 : generalConfig.principalColorTitles === "cyan" ? styleTitle9 : generalConfig.principalColorTitles === "sky" ? styleTitle10 : generalConfig.principalColorTitles === "blue" ? styleTitle11 : generalConfig.principalColorTitles === "indigo" ? styleTitle12 : generalConfig.principalColorTitles === "violet" ? styleTitle13 : generalConfig.principalColorTitles === "purple" ? styleTitle14 : generalConfig.principalColorTitles === "fuchsia" ? styleTitle15 : generalConfig.principalColorTitles === "pink" ? styleTitle16 : generalConfig.principalColorTitles === "rose" ? styleTitle17 : generalConfig.principalColorTitles === "slate" ? styleTitle18 : generalConfig.principalColorTitles === "zinc" ? styleTitle19 : generalConfig.principalColorTitles === "gray" ? styleTitle20 : generalConfig.principalColorTitles === "neutral" ? styleTitle21 : generalConfig.principalColorTitles === "stone" ? styleTitle22 : styleTitle21

interface Props {
  title: string
}

const { title } = Astro.props
---

<h1 class:list={styleTitle}>
    { title }
</h1>