---
import {   LayoutGeneral } from "@globals"
---

    <LayoutGeneral>
      <div>
        Página de ubicación en construcción

        <iframe class="text-center" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3975.736572186779!2d-75.69709255239356!3d4.815231522106323!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e38874fecb5c80d%3A0xe2ea252ec17f3dd7!2sSENA%20-%20Centro%20Agropecuario%20y%20de%20Comercio%20y%20Servicios.!5e0!3m2!1ses!2sco!4v1738120347636!5m2!1ses!2sco" width="400" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

      </div>
    </LayoutGeneral>
