---
import {   LayoutGeneral } from "@globals"
import { generalConfig } from "@util/generalConfig";
---

    <LayoutGeneral>
    

<section class="bg-white bg-[url('https://flowbite.s3.amazonaws.com/docs/jumbotron/hero-pattern.svg')] dark:bg-[url('https://flowbite.s3.amazonaws.com/docs/jumbotron/hero-pattern-dark.svg')]">
  <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 z-10 relative">
      <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white">Bem-vindo ao {generalConfig.Inicio.Company}</h1>
      <p class="mb-8 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 lg:px-48 dark:text-gray-200">
        "{generalConfig.Inicio.Description}"</p>
  </div>
  <div class:list={`bg-gradient-to-b from-${generalConfig.Inicio.color_bg_bienvenida}-50 to-transparent  w-full h-full absolute top-0 left-0 z-0`}></div>
</section>

    </LayoutGeneral>