---
import { LayoutGeneral } from "@globals"
import { ModuelesActives } from "@util/generalConfig"
if (!ModuelesActives.Photos) {
  return Astro.redirect("/crear")
}
import image1 from "@img/fotos/1.jpg"
import image2 from "@img/fotos/2.jpg"
import image3 from "@img/fotos/3.jpg"
import image4 from "@img/fotos/4.jpg"
import image5 from "@img/fotos/5.jpg"
import image6 from "@img/fotos/6.jpg"
import image7 from "@img/fotos/7.jpg"
import image8 from "@img/fotos/8.jpg"
import image9 from "@img/fotos/9.jpg"
import image10 from "@img/fotos/10.jpg"
import image11 from "@img/fotos/11.jpg"
import image12 from "@img/fotos/12.jpg"
import image13 from "@img/fotos/13.jpg"
import image14 from "@img/fotos/14.jpg"
import image15 from "@img/fotos/15.jpg"
import image16 from "@img/fotos/16.jpg"
import image17 from "@img/fotos/17.jpg"
import image18 from "@img/fotos/18.jpg"
import image19 from "@img/fotos/19.jpg"
import image20 from "@img/fotos/20.jpg"

const imagenes = [
  image1,
  image2,
  image3,
  image4,
  image5,
  image6,
  image7,
  image8,
  image9,
  image10,
  image11,
  image12,
  image13,
  image14,
  image15,
  image16,
  image17,
  image18,
  image19,
  image20,
]
---

<LayoutGeneral>
  <div class="w-full flex items-center justify-center">
  <div class="flex flex-row flex-wrap justify-center items-center sm:w-[900px]">
    {
      imagenes.map((src, i) => (
        <div class="aspect-square w-[150px] h-[150px] sm:w-[300px] sm:h-[300px] overflow-hidden ">
          <picture>
            <source
              srcset={`${src.replace(".jpg", ".webp")}`}
              type="image/webp"
            />
            <img
              src={src}
              alt={`Imagen de la galería ${i + 1}`}
              class="w-full h-full object-cover"
              width="300"
              height="300"
              loading="lazy"
            />
          </picture>
        </div>
      ))
    }
  </div>
</div>
</LayoutGeneral>
