---
import {   LayoutGeneral } from "@globals"
import { ModuelesActives } from "@util/generalConfig"
if (!ModuelesActives.DownloadApp) {
  return Astro.redirect('/crear');
}
---

    <LayoutGeneral>
    <div>
          El resto de la página
      </div>
    </LayoutGeneral>