---
import { generalConfig } from "@util/generalConfig"
---


<div class="fixed-footer border-t border-gray-200 block md:hidden">
    <ul class="flex flex-wrap -mb-px text-sm font-medium text-center text-gray-500">
        {generalConfig.TagBar.linksPages.map((link) => (
            <li class="me-2" >
                <a
                    href={link.href}
                    class:list={`inline-flex items-center justify-center p-4 border-b-2 ${
                        link.active ? "text-blue-600 border-blue-600" : "border-transparent hover:text-gray-600 hover:border-gray-300"
                    } rounded-t-lg dark:hover:text-gray-300 group`}
                    aria-current={link.active ? "page" : undefined}
                >
                    <svg
                        class:list={`w-4 h-4 me-2 ${
                            link.active ? "text-blue-600" : "text-gray-400 group-hover:text-gray-500"
                        }`}
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="currentColor"
                        viewBox="0 0 20 20"
                    >
                        <path d={link.path1}></path>
                        {link.path2 && <path d={link.path2}></path>}
                    </svg>
                    {/* {link.text} */}
                </a>
            </li>
        ))}
    </ul>
</div>


<style>
    .fixed-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white; /* Fondo opcional */
    z-index: 1000; /* Asegura que esté encima de otros elementos */
}

</style>
