---
import { generalConfig } from "@util/generalConfig";

const tabs = [
  { label: "Inicio", active: true, href: "/" },
  { label: "Productos", active: true, href: "/productos" },
  { label: "Fotos", active: false, href: "/fotos" },
  { label: "Ubicación", active: false, href: "/ubicacion" },
];
---
<div class="relative w-full">
  <!-- Botón Menú -->
  <div class="fixed bottom-16 right-4 z-50">
    <button data-tooltip-target="menu" type="button" class="inline-flex items-center justify-center w-12 h-12 font-medium bg-blue-600 rounded-full hover:bg-blue-700 group focus:ring-4 focus:ring-blue-300 focus:outline-none dark:focus:ring-blue-800">
      <svg class="w-6 h-6 text-white" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
      </svg>
      <span class="sr-only">Menú</span>
    </button>
  </div>

  <!-- Tabs (solo en móvil) -->
  <div class="fixed bottom-0 z-40 w-full -translate-x-1/2 bg-white border-t border-gray-200 left-1/2 dark:bg-gray-700 dark:border-gray-600 sm:hidden">
    <div class="w-full">
      <div
        class="grid max-w-sm grid-cols-4 gap-1 p-1 mx-auto my-2 bg-gray-100 rounded-lg dark:bg-gray-600"
        role="group"
      >
        {tabs.map((tab) => (
          <button
            type="button"
            class:list={`px-5 py-1.5 text-xs font-medium rounded-lg ${
              tab.active
                ? "text-white bg-gray-900 dark:bg-gray-300 dark:text-gray-900"
                : "text-gray-900 hover:bg-gray-200 dark:text-white dark:hover:bg-gray-700"
            }`}
          >
            {tab.label}
          </button>
        ))}
      </div>
    </div>
  </div>
</div>
