---
import {   Layout, Header, Footer } from "@globals"
import { generalConfig } from "@util/generalConfig"
const path = Astro.url.pathname.slice(1)
const capitalizeFirstLetter = (str) => {
  if (!str) return str;
  return str.charAt(0).toUpperCase() + str.slice(1);
};
const formattedPath = capitalizeFirstLetter(path);
const pathTitle = formattedPath !== "" ? formattedPath + " - " + generalConfig.name : generalConfig.name;
---

<Layout title={pathTitle}>
    <Header/>
    <div>
        {formattedPath}
    </div>
        <slot />
    <Footer/>
</Layout>