---
import {   LayoutGeneral } from "@globals"
import { ModuelesActives } from "@util/generalConfig"
if (!ModuelesActives.Car) {
  return Astro.redirect('/crear');
}
---

    <LayoutGeneral>
    <div>
          El resto de la paÌgina
      </div>
    </LayoutGeneral>